In [ ]:
import numpy as np
import pandas as pd
import re

In [ ]:
# загружаем данные
df = pd.read_csv("/content/sample_data/test_data.csv")
# оставляем только реплики менеджера
df_manager = df[df['role'] == 'manager']
df_manager

,dlg_id,line_n,role,text
1,0,1,manager,Алло здравствуйте
3,0,3,manager,Меня зовут ангелина компания диджитал бизнес з...
5,0,5,manager,Угу ну возможно вы рассмотрите и другие вариан...
8,0,8,manager,Угу а на что вы обращаете внимание при выборе
11,0,11,manager,Что для вас приоритет
...,...,...,...,...
472,5,135,manager,Так дмитрий
473,5,136,manager,Все записала тогда завтра ждите звонка
475,5,138,manager,По поводу виджетов и с ними уже обсудите конкр...
476,5,139,manager,Все я вам высылаю счет и с вами на связи если ...
479,5,142,manager,Ну до свидания хорошего вечера

In [ ]:
# выберем реплики с приветствием
# попробуем учесть несколько вариантов приветствий
greeting = []

for item in df_manager['text']:
    if "здравствуйте" in item.lower():
        greeting.append(True)
    elif "добрый день" in item.lower():
        greeting.append(True)
    elif "добрый вечер" in item.lower():
        greeting.append(True)
    elif "доброе утро" in item.lower():
        greeting.append(True)
    elif "приветствую" in item.lower():
        greeting.append(True)
    else:
        greeting.append(False)

# создадим столбец и отметим реплики с приветствиями
df_manager['greeting'] = greeting

# оставим только интересующие нас столбцы и выведем все фразы, где менеджер
# поприветствовал клиента
greeting_manager = df_manager[['dlg_id','role','text','greeting']]
print('Реплики менеджера с приветствием\n')
greeting_manager = greeting_manager[greeting_manager.greeting == True]
greeting_manager

Реплики менеджера с приветствием

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     dlg_id     role                      text  greeting
1         0  manager         Алло здравствуйте      True
110       1  manager         Алло здравствуйте      True
166       2  manager         Алло здравствуйте      True
250       3  manager  Алло дмитрий добрый день      True

In [ ]:
# выберем реплики где менеджер представляется
# попробуем учесть несколько вариантов представлений

introduction = []

for item in df_manager['text']:
    if "меня зовут" in item.lower():
        introduction.append(True)
    elif "вас беспокоит" in item.lower():
        introduction.append(True)
    elif "это менеджер" in item.lower():
        introduction.append(True)
    else:
        introduction.append(False)

# по аналогии с приветственными репликами
df_manager['introduction'] = introduction
intro_manager = df_manager[['dlg_id','role','text','introduction']]
print('Реплики, где менеджер представился\n')
intro_manager = intro_manager[intro_manager.introduction == True]
intro_manager

Реплики, где менеджер представился

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,dlg_id,role,text,introduction
3,0,manager,Меня зовут ангелина компания диджитал бизнес з...,True
111,1,manager,Меня зовут ангелина компания диджитал бизнес з...,True
167,2,manager,Меня зовут ангелина компания диджитал бизнес з...,True

In [ ]:
# получим имя менеджера.
# чаще всего менеджер представляется начиная со слов "меня зовут"
# найдем имя, используя регулярное выражение
# перед этим сделав сооветствующее преобразование реплик

manager_text = '. '.join(df_manager['text'].tolist())
match = re.findall(r"меня зовут \w*", manager_text, re.I)
manager_name = ' '.join(match)

# теперь разобьем строку и получим элемент, который мы считаем именем
name = re.split(r' ', manager_name, 3)
name[2]

'ангелина'

In [ ]:
# наименование компании получим аналогичным образом
# допуская, что при указании компании менеджер начинает ее со слов "компания"
# или с указания ее юридической формы (АО, ЗАО, ООО, ИП)

company = []

for item in df_manager['text']:
    if "компания" in item.lower():
        company.append(True)
    elif "ооо" in item.lower():
        company.append(True)
    elif "зао" in item.lower():
        company.append(True)
    elif "ип" in item.lower():
        company.append(True)
    else:
        company.append(False)

df_manager['company'] = company
companys_name = df_manager[['dlg_id','role','text','company']]
print('Реплики, где менеджер назвал компанию\n')
companys_name = companys_name[companys_name.company == True]
companys_name

Реплики, где менеджер назвал компанию

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,dlg_id,role,text,company
3,0,manager,Меня зовут ангелина компания диджитал бизнес з...,True
111,1,manager,Меня зовут ангелина компания диджитал бизнес з...,True
167,2,manager,Меня зовут ангелина компания диджитал бизнес з...,True
251,3,manager,Добрый меня максим зовут компания китобизнес у...,True
273,3,manager,Транспортная компания хорошо а у вас уже вот в...,True
308,4,manager,Я понял ну мы хотели бы просто предложить тако...,True
425,5,manager,Вот так да я вас понимаю и мы знаем об этой си...,True
444,5,manager,Вот и вам с вами свяжется максим он отвечает у...,True
451,5,manager,Сейчас со мной с претензиями закончились ну в ...,True

In [ ]:
# выделим реплики, где менеджер попрощался

goodbye = []

for item in df_manager['text']:
    if "до свидания" in item.lower():
        goodbye.append(True)
    elif "всего доброго" in item.lower():
        goodbye.append(True)
    elif "всего хорошего" in item.lower():
        goodbye.append(True)
    else:
        goodbye.append(False)

df_manager['goodbye'] = goodbye
bye_manager = df_manager[['dlg_id','role','text','goodbye']]
print('Реплики, где менеджер попрощался\n')
bye_manager = bye_manager[bye_manager.goodbye == True]
bye_manager

Реплики, где менеджер попрощался

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

,dlg_id,role,text,goodbye
108,0,manager,Всего хорошего до свидания,True
162,1,manager,Угу да вижу я эту почту хорошо тогда исправлю ...,True
163,1,manager,До свидания,True
300,3,manager,Угу все хорошо да понедельника тогда всего доб...,True
335,4,manager,Во вторник все ну с вами да тогда до вторника ...,True
479,5,manager,Ну до свидания хорошего вечера,True